# Gradle
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# Скомпилированные классы
*.class
bin/
out/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Логи и временные файлы
*.log
.DS_Store

# Локальные настройки
local.properties
/jte-classes/
